<div class="text-center" *ngIf="loading">
  <app-loading-spiner></app-loading-spiner>
</div>

<app-err-message *ngIf="error"></app-err-message>

<div class="row" *ngIf="!loading && !error">
  <div class="text-center m-5" *ngIf="!displayedList.length && !loading">
    <h2 class="text-primary">Sorry, No Users match your search...</h2>
  </div>
  <div
    class="p-2 col-12 col-md-6 col-lg-4"
    *ngFor="
      let user of displayedList
        | paginate
          : {
              id: 'server',
              itemsPerPage: itemsPerPage,
              currentPage: page,
              totalItems: totalItems
            }
    "
  >
    <div class="card border-primary text-center">
      <app-user-card [userData]="user"></app-user-card>
    </div>
  </div>
</div>
<div class="text-center">
  <pagination-controls
    (pageChange)="getPage($event)"
    id="server"
  ></pagination-controls>
</div>
